@import "tailwindcss";

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(var(--bounce-height, -8%));
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}